<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Blank</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tela</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>
      <ion-label>Marcas</ion-label>
      <ion-select
        [(ngModel)]="marcaSelecionada"
        placeholder="Selecione"
        (ionChange)="carregarModelos()"
      >
        <ion-select-option
          *ngFor="let marca of marcas"
          [value]="marca.codigo"
        >
          {{marca.nome}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Modelos</ion-label>
      <ion-select
        [(ngModel)]="modeloSelecionado"
        placeholder="Selecione"
        (ionChange)="carregarAnos()"
      >
        <ion-select-option
          *ngFor="let modelo of modelos"
          [value]="modelo.codigo"
        >
          {{modelo.nome}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Anos</ion-label>
      <ion-select
        [(ngModel)]="anoSelecionado"
        placeholder="Selecione"
        (ionChange)="carregarValores()"
      >
        <ion-select-option
          *ngFor="let ano of anos"
          [value]="ano.codigo"
        >
          {{ano.nome}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-label>Valor</ion-label>
    <h3>{{valores?.Marca}}</h3>
    <h3>{{valores?.Valor}}</h3>

  </div>
</ion-content>
